html {
  touch-action: none;
  background-color: black;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#clear {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
}
