html {
  touch-action: none;
  background-color: black;
}

#mainCanvas {
  display: block;
  background-color: white;
}

#mainColourCanvas {
  background-color: black;
}

#clear {
  display: inline-block;
  margin-top: 20px;
}

#imageButton {
  display: inline-block;
  margin-top: 20px;
  width: 106px;
}

#test {
  display: inline-block;
  margin-top: 20px;
}

#sliders {
  display: none;
  margin-top: 10px;
}

.slider {
  display: block;
  margin-top: 5px;
}
