html {
  touch-action: none;
  background-color: black;
}

canvas {
  display: block;
  background-color: white;
}

#clear {
  display: inline-block;
  margin-top: 20px;
}

#imageButton {
  display: inline-block;
  margin-top: 20px;
  width: 106px;
}

#test {
  display: inline-block;
  margin-top: 20px;
}
